.added {
  color: green;
  padding: 2rem;
  background: lightgreen;
  font-size: 2rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  font-style: solid;
}

.error {
  color: red;
  padding: 2rem;
  background: lightcoral;
  font-size: 2rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  font-style: solid;
}